.button {
    position:  relative;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    z-index: 11;
}
body {
    position: relative;
    font-family: Arial;
    background: #cccccc;
    color: #fff;
}

.baseframe {
        position:  relative;

  z-index: 5;
    width: 100%;
    height: 1000px;
}

